<h1 *ngIf="isAddMode">Add Currency</h1>
<h1 *ngIf="!isAddMode">Edit Currency</h1>

    <div class="form-group">
        <form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
            <label for="name">Currency Name</label>
            <input type="text" id="name" name="name"  [ngModel]="(currency$|async)?.currencyName">
            <br>
            <label for="code">Code</label>
            <input type="text" id="code" name="code"  [ngModel]="(currency$|async)?.code">
            <br>
            <label for="symbol">Symbol</label>
            <input type="text" id="symbol" name="symbol" 
                [ngModel]="(currency$|async)?.symbol">
                <br>
            <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Save </button>
        </form>
    </div>