<h1 style=" text-align: center">List of countries</h1>
<div>
  <button class="button" routerLink="/countries/create-country" title="Add new company"><img
      src="https://cdn-icons-png.flaticon.com/512/2312/2312159.png" height="30" width="30" />Add
  </button>
</div>

<table id="countries">
  <tr>
    <th>ID</th>
    <th> Name</th>
    <th>Flag</th>
    <th>Population</th>
    <th>Time Zone</th>
    <th>Language</th>
    <th>Capital City</th>
    <th>Currency</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let entity of (countries$ | async) ">
    <td>{{entity.id}}</td>
    <td>{{entity.name}}</td>
    <td><img src="https://countryflagsapi.com/svg/{{entity.name}}" style="width: 35px;"></td>
    <td>{{entity.population}}</td>
    <td>{{entity.timeZone}}</td>
    <td>{{entity.language}}</td>
    <td>{{entity.capitalCity}}</td>
    <td> {{entity.currency.currencyName}}</td>
    <button type="submit" (click)="selectById(entity.id)" title="Edit"><img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpAyw7TK8OpqoWdMpCRbRa-X2xmWAsx2AIEw&usqp=CAU"
        height="30" width="30"></button>
    <button type="button" (click)="delete(entity.id)" title="Delete">
      <img
        src="https://icons-for-free.com/download-icon-delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588_512.png"
        height="30" width="30"></button>
  </tr>
</table>