<li class="pet-item media">

    <div class="media-left">
      <button class="pet-delete btn btn-xs btn-danger">
      <span class="glyphicon glyphicon-remove"></span></button>
    </div><!-- media-left -->

    <div class="pet-info media-body">

      <div class="pet-head">
        <span class="pet-name"></span>
        <span class="apt-date pull-right"></span>
      </div><!-- pet-head -->

      <div class="owner-name">
        <span class="label-item">Owner:</span>
        <span></span>
      </div>
      <div class="apt-notes"></div>

    </div><!-- pet-info -->

  </li><!-- pet-item -->