<h1 style=" text-align: center;" *ngIf="isAddMode"> New Country</h1>
<h1 style=" text-align: center;" *ngIf="!isAddMode">Edit Country</h1>
<br>
<hr>
<div class="form-group">
    <form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
        <label for="name">Country Name</label>
        <input type="text" id="name" name="name" [ngModel]="(country$|async)?.name">
        <br>
        <label for="flag">flag</label>
        <input type="text" id="flag" name="flag" [ngModel]="(country$|async)?.flag">
        <br>
        <label for="population">Population</label>
        <input type="text" id="population" name="population" [ngModel]="(country$|async)?.population">
        <br>
        <label for="timeZone">Time Zone</label>
        <input type="text" id="timeZone" name="timeZone" [ngModel]="(country$|async)?.timeZone">
        <br>
        <label for="language">Language</label>
        <input type="text" id="language" name="language" [ngModel]="(country$|async)?.language">
        <br>
        <label for="capitalCity">Capital City</label>
        <input type="text" id="capitalCity" name="capitalCity" [ngModel]="(country$|async)?.capitalCity">
        <br>
        <label for="id"> Currency </label>
        <select class="form-control" name="id" id="id" [ngModel]="(country$|async)?.currency?.id">
            <option *ngFor="let currency of (currencies$|async)" [ngValue]="currency.id">
                {{currency.currencyName}}
            </option>
            <option>none</option>
        </select>
        <br>
        <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Save </button>
    </form>
</div>