 <form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm"> 
    <div class="form-group">
      <label for="companyName"> Name </label>
      <input
        type="text"
        id="companyName"
        name="companyName"
        class="form-control"
        ngModel
        required
        style="width: 400px"/>
    </div>
    <div class="form-group">
      <label for="alias"> Alias </label>
      <input
        type="text"
        id="alias"
        name="alias"
        class="form-control"
        ngModel
        required
        style="width: 400px"/>
    </div>
    <div class="form-group">
      <label for="countryName"> Country </label>
      <input
        type="text"
        id="countryName"
        name="countryName"
        class="form-control"
        ngModel
        required
        style="width: 400px"/>
    </div>
  
     <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Create</button> 