<div _ngcontent-mte-c73="" class="card-body">
  <h4 _ngcontent-mte-c73="" class="card-title">Data</h4>
  <p _ngcontent-mte-c73="" class="card-description">
   <code _ngcontent-mte-c73="">List Of Appointments</code>
  </p>
  <div _ngcontent-mte-c73="" class="table-responsive pt-3">
    <table _ngcontent-mte-c73="" class="table table-bordered">
      <thead _ngcontent-mte-c73="">
        <tr _ngcontent-mte-c73="">
          <th _ngcontent-mte-c73="">
            #
          </th>
          <th _ngcontent-mte-c73="">
           Doctor Name
          </th>
          <th _ngcontent-mte-c73="">
           Patient Name
          </th>
          <th _ngcontent-mte-c73="">
            Type of Appointment
          </th>
          <th _ngcontent-mte-c73="">
            Date
          </th>
        </tr>
      </thead>
      <tbody _ngcontent-mte-c73="">
        <tr _ngcontent-mte-c73="">
          <td _ngcontent-mte-c73="">
            1
          </td>
          <td _ngcontent-mte-c73="">
            Dana Hussein
          </td>
          <td _ngcontent-mte-c73="">
           Ahmad
          </td>
          <td _ngcontent-mte-c73="">
            Health Care Assistant </td>
            <td _ngcontent-mte-c73="">
              25-5-2021 </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary btn-sm" (click)="onLoadAppointments()">Add Appointment</button>
</div>
